* {
  scroll-behavior: smooth;
}

table {
  table-layout: fixed;
  width: 100%;
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
}

td:nth-child(1) {
  width: 40%;
}

.company {
  color: blue;
  text-shadow: 2px 4px 8px grey;
}

.skills-bar {
  display: inline-flex;
  background-color: #79a3b1;
  border-width: 1px;
  border-radius: 30px;
  height: 20px;
}

.skills-bar-background {
  display: inline-flex;
  background-color: #11698e;
  border-width: 1px;
  border-radius: 30px;
  filter: drop-shadow(2px 4px 8px grey);
  width: 200px;
  height: 20px;
  margin-left: 10px;
}


.skills-bar .perc10, .skills-bar .perc20, .skills-bar .perc30, .skills-bar .perc40,
.skills-bar .perc50, .skills-bar .perc60, .skills-bar .perc70, .skills-bar .perc80,
.skills-bar .perc90, .skills-bar .perc100 {
  margin: auto 43%;
  font-size: 0.8rem;
  color: #fff;
}

.skills-bar .perc10 {
  width: 20px;
}

.skills-bar .perc20 {
  width: 40px;
}

.skills-bar .perc30 {
  width: 60px;
}

.skills-bar .perc40 {
  width: 80px;
}

.skills-bar .perc50 {
  width: 100px;
}

.skills-bar .perc60 {
  width: 120px;
}

.skills-bar .perc70 {
  width: 140px;
}

.skills-bar .perc80 {
  width: 160px;
}

.skills-bar .perc90 {
  width: 180px;
  text-align: center;
}

.skills-bar .perc100 {
  width: 200px;
}

.float {
  position: fixed;
  width: 48px;
  height: 48px;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  color: #092532;
  border-radius: 100%;
  text-decoration: none;
  z-index: 1;
  visibility: hidden;
  margin: 0;
}

.my-float {
  margin-top: 22px;
}

/* ----------------Header------------------------ */
#MyHome {
  background-color: #fff;
  padding: 8% 3% 3% 3%;
  text-align: left;
}

#MySkills, #MyEducation {
  background-color: #cfdac8;
  padding: 3%;
  text-align: Left;
}

#MyExperience, #MyWork {
  background-color: #fff;
  padding: 3%;
  text-align: Left;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Poller One', cursive;
  font-weight: bold;
  margin-left: 5%;
}

.navbar {
  padding-left: 0;
  background-color: #092532;
}

.nav-link {
  font-size: 1rem;
}

/* Content */
.MyProfilePic {
  position: block;
  width: 50%;
  height: 50%;
  margin: 15% 25%;
  filter: drop-shadow(2px 4px 8px black);
}

.content .content-h1, .content .content-h2, .content-h3, .content .content-h3, .content .content-h4 {
  font-family: 'Poller One', cursive;
}

.content .content-h1 {
  text-shadow: 2px 2px grey;
  font-size: 2.5rem;
  margin: 5% auto 5% auto;
}

.content .content-h2 {
  text-align: left;
  font-size: 2rem;
}

.content .content-h3, .content-h3 {
  text-align: left;
  font-size: 1.5rem;
}

.content .content-h4 {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.content .content-p, .content-p {
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.content .skills-p {
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}

.download-btn {
  margin-top: 5%;
}

/* Footer */
#footer {
  color: white;
  font-size: 1rem;
  background-color: #092532;
  text-align: center;
}

.footer-img {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  table {
    table-layout: fixed;
    width: 100%;
    font-size: 1.1rem;
  }

  /* Content */
  #MyHome {
    width: 100%;
    background-color: #fff;
    padding: 8% 3% 3% 3%;
    text-align: center;
  }

  #MySkills, #MyEducation {
    background-color: #cfdac8;
    padding: 3%;
    text-align: Left;
  }

  #MyExperience, #MyWork {
    background-color: #fff;
    padding: 3%;
    text-align: Left;
  }

  /* Nav Bar */
  .nav-item {
    margin-left: 5%;
  }

  .content .content-h1 {
    text-shadow: 2px 2px grey;
    font-size: 2rem;
    margin: 5% auto 5% auto;
  }

  .content .content-h2 {
    font-size: 1.8rem;
  }

  .content .content-h3 {
    font-size: 1.4rem;
  }

  .content .content-h4 {
    font-size: 1.3rem;
  }

  .content .content-p {
    font-size: 1.2rem;
  }

  .content .skills-p {
    font-size: 1.2rem;
  }
}
