/*
font-family: 'Fredoka One', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div {
  background-color: #caf7e3;
}

h1 {
  margin: 40px auto 0 auto;
  font-family: 'Fredoka One', cursive;
  text-shadow: 4px 4px grey;
  font-size: 5.625rem; /*100% = 16px=1em....90px = 562.5% or 5.625em */
  color: #66BFBF
}

a{
  color: #11999E;
}

h1:hover {
  animation: shadowx 1s;
}

img{
  filter: drop-shadow(2px 4px 8px grey);
}

@keyframes shadowx {
  50%{
    text-shadow: 0 0 grey;
  }
  100%{
    text-shadow: 4px 4px grey;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  margin: 0 auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}

.MyProfilePic {
  width: 150px;
  height: 150px;
}

.MySkillsPic {
  width: 100px;
  height: 100px;
}

.top-container {
  background-color: #caf7e3;
  border: 10px;
  padding: 10px;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


.MyProfilePic:hover{
  animation: Rotate 1s;
}

@keyframes Rotate {
  1%{
    transform: rotateY(90deg);
  }
  2%{
    transform: rotateY(180deg);
  }
  3%{
    transform: rotateY(270deg);
  }
  4%{
    transform: rotateY(360deg);
  }
}
