html {
  scroll-behavior: smooth;
}

table {
  table-layout: fixed;
  width: 100%;
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
  border: 1px solid;
  border-color: #c8c6a7;
  margin-bottom: 2%;
  filter: drop-shadow(0 0 4px grey);
}

td:nth-child(1) {
  width: 40%;
}

tr:nth-child(odd){
  background-color: #fff;
}

tr:nth-child(even){
  background-color: #d8e3e7;
}

.company {
  color: blue;
  cursor: pointer;
}

.skills-bar {
  display: inline-flex;
  background-color: #79a3b1;
  border-width: 1px;
  border-radius: 30px;
  height: 20px;
  animation-iteration-count:2;
  animation: 1s linear 1s full;
}

.animate-skills {
  background-color: #51c4d3;
}

.animate-skills-bg {
  background-color: darkgray;
}

@keyframes full {
  from { width: 1%; }
  to   { width:100%; }
}

.skills-bar-background {
  display: inline-flex;
  background-color: #11698e;
  border-width: 1px;
  border-radius: 30px;
  filter: drop-shadow(2px 4px 8px gray);
  width: 200px;
  height: 20px;
  margin: 10px;
}

/* Navigation Bar */

.page-scrolling{
  opacity: 80%;
}

.home-visibility{
  display: none;
}

.skills-bar .perc10, .skills-bar .perc20, .skills-bar .perc30, .skills-bar .perc40,
.skills-bar .perc50, .skills-bar .perc60, .skills-bar .perc70, .skills-bar .perc80,
.skills-bar .perc90, .skills-bar .perc100 {
  margin: auto 43%;
  font-size: 0.8rem;
  color: #fff;
}

.skills-bar .perc10 {
  width: 20px;
}

.skills-bar .perc20 {
  width: 40px;
}

.skills-bar .perc30 {
  width: 60px;
}

.skills-bar .perc40 {
  width: 80px;
}

.skills-bar .perc50 {
  width: 100px;
}

.skills-bar .perc60 {
  width: 120px;
}

.skills-bar .perc70 {
  width: 140px;
}

.skills-bar .perc80 {
  width: 160px;
}

.skills-bar .perc90 {
  width: 180px;
  text-align: center;
}

.skills-bar .perc100 {
  width: 200px;
}

.float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #fff;
  color: #092532;
  border-radius: 100%;
  text-decoration: none;
  z-index: 1;
  visibility: visible;
  margin: 0;
}

.my-float {
  margin-top: 0;
}

/* ----------------Header------------------------ */
#MyHome {
  background-color: #fff;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}

#MySkills, #MyEducation {
  background-color: #cfdac8;
  text-align: Left;
}

#MyExperience, #MyWork {
  background-color: #fff;
  text-align: Left;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'Poller One', cursive;
  font-weight: bold;
  margin-left: 5%;
}

.navbar {
  padding-left: 0;
  /* background-color: #092532; */
}

.nav-link {
  font-size: 1rem;
}

/* Content */
.MyProfilePic {
  width: 50%;
  height: 50%;
  margin: 15% 25%;
}

.content .content-h1, .content .content-h2, .content-h3, .content .content-h3, .content .content-h4 {
  font-family: 'Poller One', cursive;

}

.content .content-h1 {

  font-size: 2.7rem;
  margin: 5% auto 5% auto;
}

.content .content-h2 {
  text-align: left;
  font-size: 2rem;
}

.content .content-h3, .content-h3 {
  text-align: left;
  font-size: 1.5rem;
}

.content .content-h4 {
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
}

.content .content-p, .content-p {
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: justify;
}

.content .skills-p {
  font-family: 'Fahkwang', sans-serif;
  line-height: 1.5;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: left;
}

.download-btn {
  margin-top: 5%;
}

/* Footer */
#footer {
  color: white;
  font-size: 1rem;
  background-color: #092532;
  text-align: center;
}

.footer-img {
  padding: 10px;
}

.div-co {
  position: relative;
  display: inline-block;
  width: 365px;
}

@media only screen and (max-width: 600px) {

  div {
    overflow-x:hidden;
  }

  table {
    font-size: 0.9rem;
  }

  /* Content */
  #MyHome {
    background-color: #fff;
    text-align: center;
  }

  #MySkills, #MyEducation {
    background-color: #cfdac8;
    text-align: Left;
  }

  #MyExperience, #MyWork {
    background-color: #fff;
    text-align: Left;
  }

  .div-co {
    width: 200px;
  }

  /* Nav Bar */
  .nav-item {
    margin-left: 5%;
  }

  .content .content-h1 {
    font-size: 1.6rem;
    margin: 5% auto 5% auto;
  }

  .content .content-h2 {
    font-size: 1.2rem;
  }

  .content .content-h3 {
    font-size: 1.1rem;
  }

  .content .content-h4 {
    font-size: 1rem;
  }

  .content .content-p {
    font-size: 1rem;
  }

  .content .skills-p {
    font-size: 1rem;
  }
}
