body {
  color: black;
  background-color: white;
  font-family: sans-serif;
}

header .Profile {
  width: 150px;
  height: 150px;
}

header .Profile:hover {
  animation: Rotate 1s infinite;
}

@keyframes Rotate {
  1%{
    transform: rotateY(90deg);
  }
  2%{
    transform: rotateY(180deg);
  }
  3%{
    transform: rotateY(270deg);
  }
  4%{
    transform: rotateY(360deg);
  }
}

header .Address {
  color: blue;
  font-family: sans-serif;
}

header .Contact {
  color: black;
  font-family: sans-serif;
}

header .Title {
  top: 0;
  color: black;
  font-family: sans-serif;
  font-size: 16px;
}

body content ul li .li_Title {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  text-align: justify;
}

body content ul li::after {
  content: "\a\a";
  white-space: pre;
}

/*table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
